h1 Register
form
  label(for="email") Email
  input(id="email" type="text" placeholder="Email")
  br
  label(for="password") Password
  input(id="password" type="text" placeholder="Password")
  br
  input(type="submit" value="Register")