extends ../layout/main.pug

block content
  h1 Dashboard
  p Check out our upcoming programs!
  ul
    li Upcoming Program 1
    li Upcoming Program 2
    li Upcoming Program 3
  p And this is the list of programs you're currently subscribed to:
  ul
    li Program 1 - Active
    li Program 2 - Need Payment
    li Program 3 - Awaiting Confirmation