html
  head
    title Cal
    include ../components/header.pug
    block scripts
      //- if anything is added here, it's the default if the child does not change it
  body
    //- include ../partials/nav.pug
    block content
    block foot
